name: Java CI/CD with Maven and Remote SSH Deploy

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Clean and Build with Maven
        run: mvn clean package -DskipTests

      - name: Deploy to Server via SSH
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "target/*.jar"
          target: "/var/servers/chess"
          strip_components: 1
          rm: true

      - name: Executing remote ssh commands to restart app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            fuser -k 25252/tcp || true
            cd /var/servers/chess
            mv *.jar app.jar || true
            nohup java -jar app.jar > log.txt 2>&1 &
